
body {

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .flex-inline {
    align-content: space-around;
    display: flex;
    width: 70%;
  }
  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  p {
    margin-top: 2em;
  }
  h2 {
    &.sectionHeader {
      border-bottom: #9BA2AB solid 1px;
      font-size: 200%;
      font-weight: 900;
    }
  }
  img {
    margin: 1em;
  }

  header {
    background: $body-bg url(../../images/header-bg.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    h1 {
      font-size: 4rem;
      padding: 1rem;
      display: block;
      color: $title-text;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin: auto;
      text-align: center;
      border: solid 0.25em $title-text;
      font-weight: 100;
    }

    h2 {
      color: $title-text;
      text-align: center;
    }

    h3 {
      color: $title-text;
      font-size: 200%;
      font-weight: 900;
      text-align: center;
    }

  }

  section {
    min-height: 7em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 20;
    &.light {

      margin: auto;
      background-color: $lightBackground;
      h2 {
        color: $headingtint;
      }
    }

    .highlight {

      color: $headingtint;;
      font-size: 125%;
      font-weight: 900;
      padding:0.2em;
    }

    a.tickets{
      margin:2rem auto;
      text-align: center;
      padding:1em;
      background-color: $headingtint;
      color: #ffffff;
      display: inline-flex;
      font-size: 135%;
      font-weight: 900;
      &:hover{
        background-color: $headingtint;
        opacity: 10;
        color: #ffffff;

      }
      i{
        width:auto;
        height: 1em;
        svg {
          width: 35px;
          height: 35px;
          padding-left:5px;
        }
      }
    }

  }
  .location
  {
    background: url('images/boole-overview-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    min-height: 15em;
  }
  .no-background {
    background: transparent;

  }

  table{

    th{
      background-color:rgb(82,56,128) ;
      padding:1em;
      color:$lightBackground;
    }
    width: 100%;
    td{
      width: 50%;
      padding:1em;
    }
  }
  footer{
    min-height: 15em;

    // Tint color
    background: rgba(100, 151, 202, .5) url(images/footer-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-blend-mode: multiply;
    p{
      background-color:rgb(82,56,128) ;
      padding:1em;
      color:$lightBackground;
      margin:0;
    }
  }
}
