
body{
  background-image: url(../../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-color: $body-bg;

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  p{
    margin-top: 2em;
  }
  h2{
    &.sectionHeader{
      border-bottom: #9BA2AB solid 1px;
    }
  }
  header {


        h1{
          font-size: 4rem;
          padding:1rem;
          display: block;
          color: $title-text;
          text-transform: uppercase;
          letter-spacing: 0.02em;
          margin: auto;
          text-align: center;
          border: solid 0.25em $title-text;
          font-weight: 100;
        }



      h2{
        color: $title-text;
        text-align: center;
      }

      h3{
        color: $title-text;
        font-size: 200%;
        font-weight: 900;
        text-align: center;
      }

  }

  section{
    min-height: 5em;
    padding-top: 2em;

    &.light{
      padding-left:1em;
      padding-right: 1em;

      margin: auto;
      background-color: $lightBackground;
      h2{
        color: $headingtint;
        font-size: 200%;
        font-weight: 900;
      }
    }

    &.dark{

    }
  }
  .no-background{
    background: transparent;
  }
}